body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
    color: #008080;
    text-align: center;
}

#toggleContainer {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

#controls {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    max-width: 600px;
    transition: background-color 0.3s ease;
}

select, input, button {
    margin: 10px;
    padding: 8px;
    font-size: 14px;
}

button {
    cursor: pointer;
    background-color: #008080;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #006666;
}

#teamContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode #toggleContainer {
    color: #fff;
}

.dark-mode #controls {
    background-color: #444;
}

.dark-mode select, .dark-mode input, .dark-mode button {
    background-color: #555;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode button:hover {
    background-color: #444;
}
